<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="css/custom.css">
<title>Let's go Home</title>
</head>
<body>
	<script>
		location.href = 'login';
	</script>
</body>
</html>