@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
 *{
		font-family : 'Nanum Gothic';
	}
h1 {
	font-family : 'Hanna';
}
h4 {
	font-family : 'Hanna';
}
.find-btn{
	text-align: center;
}
.find-btn1{
	display :inline-block;
}
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  .button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
.box1{
	background-color: lightblue;
	overflow: hidden;
	width: 1170px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}
.search-btn {
	color: #EDEDED;
	float: right;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #949BA0;
	display: flex;
	align-items: center;
	justify-content: center;
  }